[Desktop Entry]
Encoding=UTF-8
# The names/descriptions should really be better
Name=lxde
Name[fr]=lxde
Comment=Select this session to use lxde as user graphical interface
Comment[fr]=Séléctionnez cette session pour utiliser lxde comme environnement graphique

Exec=startlxde
Icon=
Type=Application
