
[Desktop Entry]
Encoding=UTF-8
Exec=synkron
Terminal=false
Icon=synkron.png
Type=Application
MimeType=text/html
Categories=Application;System;KDE;Utility;Archiving;X-KDE-Utilities-File;
Name=Synkron
GenericName=File synchronisation tool
GenericName[fr]=Outil de synchronisation de fichiers
Name[fr_FR]=Synkron
icon=synkron
Terminal=false

